<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda - MEK English</title>
    <link rel="stylesheet" href="/genel.css">
    <link rel="stylesheet" href="/about.css">
</head>

<body>
    <%- include("partials/_header") %>

        <main>
            <section class="hakkimizda-giris">
                <h2>Hakkımızda</h2>
                <p>Merhaba ben Mikail Enes Kaya, bu uygulamayı Node.js öğrenmeye başlarken deneme amaçlı geliştirdim.
                    Kendim de pratik yapmak için bu uygulamayı kullanmaktayım. Kaynak kodlarını ve kişisel
                    bağlantılarımı alt tarafta bulabilirsiniz!</p>
                <p><b>Kişisel Web Sayfam:</b> <a href="https://www.mikaileneskaya.com">mikaileneskaya.com</a></p>
                <p><b>GitHub Profilim:</b> <a href="https://github.com/mikaileneskaya">github.com/mikaileneskaya</a></p>
                <p><b>Linkedin Profilim:</b> <a
                        href="https://www.linkedin.com/in/mikaileneskaya/">linkedin.com/in/mikaileneskaya/</a></p>
                <br>
                <br>
                <p><b>MEK English Projesinin Kaynak Kodları:</b> <a href="https://github.com/mikaileneskaya">github.com/mikaileneskaya</a></p>
            </section>
</body>

</html>