<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEK English</title>
    <link rel="stylesheet" href="/genel.css">
    <link rel="stylesheet" href="/anasayfa.css">
</head>

<body>
<%- include("partials/_header") %>

    <main>
        <section class="giris">
            <h2>Kelime Ezberi Yapmak Artık Çok Kolay!</h2>
            <p>günlük hayatta en çok kullanılan ilk 1000 kelimeyi istikrarlı bir şekilde öğren</p>
            <a href="/register">Öğrenmeye Hemen Başla</a>
        </section>
    </main>
</body>

</html>