body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background: radial-gradient(rgba(79, 32, 207, 1) 10%,
            rgba(25, 0, 49, 1) 90%);
    height: 100vh;
}

main .learn-giris {
    display: block;
    margin-top: 20px;
    width: 60%;
    margin: auto;
}

main .learn-giris h2 {
    color: rgb(255, 255, 255);
    font-size: 34px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

main .learn-giris ul {
    width: fit-content;
    margin: auto;
}

main .learn-giris ul div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
}

main .learn-giris ul .cumle-div {
    width: max-content;
    background-color: rgb(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
    margin: 3px 0 20px 0;
    font-size: 12px;
    padding: 0 5px;
    font-weight: 400;
    font-style: italic;
}

main .learn-giris ul button {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

main .learn-giris ul .cevap {
    position: absolute;
    top: 50%;
    font-size: 15px;
    right: -55px;
    color: rgb(255, 255, 255);
    padding-bottom: 1px;
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: translateY(-50%);
}

main .learn-giris ul button svg {
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
}

main .learn-giris ul li {
    display: inline-block;
    list-style: none;
    width: 300px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    font-size: 20px;
    background-color: rgb(255, 255, 255, 0.95);
    font-weight: 600;
    padding: 5px 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

main .learn-giris .yenile-btn {
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 8px 20px;
    cursor: pointer;
    border: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-radius: 10px;
    user-select: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

main .learn-giris .yenile-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

main .learn-giris .uyari {
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    color: rgb(255, 255, 255, 0.95);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.8px;
}

@media screen and (max-width: 750px) {
    main .learn-giris {
        width: 95%;
    }

    main .learn-giris h2 {
        font-size: 34px;
    }

    main .learn-giris ul div {
        gap: 10px;
    }

    main .learn-giris ul .cumle-div {
        font-size: 10px;
    }

    main .learn-giris ul button {
        width: 25px;
        height: 25px;
    }

    main .learn-giris ul .cevap {
        font-size: 15px;
        right: -55px;
    }

    main .learn-giris ul button svg {
        width: 25px;
        height: 25px;
    }

    main .learn-giris ul li {
        width: 250px;
        font-size: 16px;
        padding: 5px 10px;
    }

    main .learn-giris .yenile-btn {
        margin-top: 30px;
        padding: 8px 20px;
        font-size: 18px;
    }

    main .learn-giris .uyari {
        width: 70%;
        margin-top: 10px;
        font-size: 12px;
    }
}